// Theme's Styles
.theme-default-content:not(.custom), .page-nav{
  max-width: 880px!important
}

.page h1 {
  font-size 24px
}

.page h2 {
  font-size: 20px
  border none
  padding-top 100px!important
}

.page h3 {
  font-size: 18px
}

.page a {
  font-weight: 500;
  color: #5a8dff;
  text-decoration: none;
}

.page img {
  padding 14px 0
}

.page .page-nav {
  color: #5a8dff;  
}

.navbar .logo {
  height: 26px!important
  width: 36px!important
  margin-top: 5px!important
  margin-right 5px!important
}
.sidebar .sidebar-sub-header a {
  padding-left: 9px;
}

.navbar .site-name {
    font-weight: 700!important
}
// User's Styles
// null
