// Theme's Styles
@import("/Users/timofun/Documents/project/note/node_modules/.pnpm/@vuepress+theme-default@1.8.2/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/timofun/Documents/project/note/docs/.vuepress/styles/index.styl")